<div>USER INFO FORM VALUE: {{ formGroup.value | json }}</div>
<div>USER INFO FORM VALIDATION STATUS: {{ formGroup.status | json }}</div>
<div>USER INFO FORM PRISTINE: {{ formGroup.pristine }}</div>
<div>USER INFO FORM DIRTY: {{ formGroup.dirty }}</div>
<div>USER INFO FORM TOUCHED: {{ formGroup.touched }}</div>

<form [formGroup]="formGroup">
  <div>
    <label for="firstName"> First Name</label>
    <input
      name="firstName"
      type="text"
      formControlName="firstName"
      title="First Name"
    />
  </div>
  <div>
    <label for="lastName"> Last Name</label>
    <input
      name="lastName"
      type="text"
      formControlName="lastName"
      title="Last Name"
    />
  </div>
</form>
